pe<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Options</h2>
                    <h3 class="section-subheading text-muted">Révolutionnez le parcours des client de votre cabinet grâce au marketing conversationnel en 4 semaines.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Acquisition</h4>
                                    <h4 class="subheading">Intégration d'une Intelligence Artificielle</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Le marketing conversationnel permet aux avocats de suivre les clients potentiels tout au long du processus de vente et de les convertir en clients payants. En utilisant des chatbots et des outils d'automatisation du marketing, les avocats peuvent nourrir les leads, leur fournir des informations pertinentes et les inciter à prendre rendez-vous ou à demander des consultations. - 790€/ mois</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Activation</h4>
                                    <h4 class="subheading">Conception de votre site web</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Personnalisez votre site vitrine ou votre dataroom aux couleurs de votre marque en quelques clics. Page d'accueil hautement configurable avec plusieurs sections et des dizaines d'options de présentation. Configurez le texte, la couleur, l'image d'arrière-plan, les effets de fusion, l'alignement, etc. - à partir de 290 € </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Rétention</h4>
                                    <h4 class="subheading">Création des pages professionnelles sur vos réseaux sociaux</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A la différence d'une page personnelle, si vous souhaitez promouvoir votre entreprise ou votre activité professionnelle, une page professionnelle est indispensable. Elle vous permettra de toucher une audience plus large, de diffuser des messages ciblés et de mesurer l'impact de vos actions marketing. - 100€/ réseau social</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Revenu</h4>
                                    <h4 class="subheading">Paiements sécurisés en ligne</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vendez partout où se trouvent vos clients : Débloquez une croissance explosive avec notre plateforme partenaire WELTARE. Touchez des clients à l'international, gérez tout depuis un seul endroit. - A partir de 249€/ mois</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Solution
                                    <br>Clé en
                                    <br>main !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
