pe<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Impact</h2>
                    <h3 class="section-subheading text-muted">Révolutionnez le parcours des client de votre cabinet grâce au marketing conversationnel en 4 semaines, avec ou sans les options ci-dessous.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Acquisition</h4>
                                    <h4 class="subheading">Décollez dans les résultats de recherche et captez des clients</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Attirez une clientèle à la recherche de professionnels du droit et de la finance grâce à un blog optimisé SEO et irrésistible. La création et l'animation de votre blog par Legifina vous offre un décollage fulgurant :<br>

Stratégie de contenu business conçue par des experts pour répondre aux questions précises de vos clients potentiels.<br>
Optimisation SEO ciblée pour apparaître en tête des recherches Google sur les requêtes stratégiques de votre domaine.<br>
Rédaction de qualité supérieure qui démontre votre expertise et inspire confiance aux lecteurs.<br>
La création et l'animation de votre blog est votre solution clé en main pour booster la visibilité de votre cabinet et capter des clients qualifiés en ligne. - 100€/ article</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Activation</h4>
                                    <h4 class="subheading">Maitrisez l'IA pour convaincre vos clients</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Développez une expertise inégalée en intégrant l'intelligence artificielle à votre argumentaire juridique et financier.<br>

Les masterclasses vous permettront de :<br>

Exploiter des outils d'IA de pointe pour analyser les contrats, identifier les risques cachés et optimiser vos stratégies de négociation.<br>
Construire des argumentaires juridiques et financiers solides basés sur des données concrètes et étayés par des analyses prédictives grâce à l'IA.<br>
Gagner en efficacité en automatisant des tâches administratives et en vous concentrant sur les aspects stratégiques de vos dossiers.<br>
Donnez un coup d'avance à votre carrière et dominez le monde des affaires grâce à l'IA ! <br>
                                        100 €/ l'heure</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Rétention</h4>
                                    <h4 class="subheading">Capturez des leads grâce aux réseaux sociaux</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Transformez vos réseaux sociaux en un puissant outil d'acquisition de clients pour votre cabinet juridique ou financier !<br>

Notre service expert vous garantit :<br>

Création de pages optimisées sur les réseaux sociaux stratégiques pour les professions juridiques et financières (selon votre spécialité).<br>
Intégration d'appels à l'action ciblés pour convertir les visiteurs en prospects qualifiés.<br>
Campagnes publicitaires précises pour atteindre votre clientèle idéale sur les réseaux sociaux.<br>
Production de contenu informatif et régulier sur des sujets d'actualité juridique ou financière pour fidéliser votre audience.<br>
100€/ réseau social</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/OIG1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Revenu</h4>
                                    <h4 class="subheading">Transformez les prospects en clients grâce à l'intelligence artificielle</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Capitalisez sur le potentiel de l'IA pour capter des leads qualifiés et développer votre activité juridique ou financière !<br>

Notre solution spécialisée d'automatisation de service client vous permet de :<br>

Dialoguer en continu avec vos visiteurs et répondre aux questions juridiques basiques en temps réel.<br>
Identifier les prospects les plus engagés et les transmettre directement à vos équipes commerciales pour un suivi personnalisé.<br>
Personnaliser les interactions en fonction du profil du visiteur pour proposer des solutions et des services ciblés.<br>
790€/ mois<br>

</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Solution
                                    <br>Clé en
                                    <br>main !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
