pe<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Options</h2>
                    <h3 class="section-subheading text-muted">Révolutionnez le parcours des client de votre cabinet grâce au marketing conversationnel en 4 semaines, avec ou sans les options ci-dessous.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Acquisition</h4>
                                    <h4 class="subheading">Décollez dans les résultats de recherche et captez des clients</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Attirez une clientèle à la recherche de professionnels du droit et de la finance grâce à un blog optimisé SEO et irrésistible. La création et l'animation de votre blog par Legifina vous offre un décollage fulgurant :<br>

Stratégie de contenu business conçue par des experts pour répondre aux questions précises de vos clients potentiels.<br>
Optimisation SEO ciblée pour apparaître en tête des recherches Google sur les requêtes stratégiques de votre domaine.<br>
Rédaction de qualité supérieure qui démontre votre expertise et inspire confiance aux lecteurs.<br>
La création et l'animation de votre blog est votre solution clé en main pour booster la visibilité de votre cabinet et capter des clients qualifiés en ligne. - 100€/ article</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Activation</h4>
                                    <h4 class="subheading">Développez des compétences techniques</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Prenez une longueur d'avance sur la concurrence grâce à la puissance de l'IA et propulsez vos ventes vers de nouveaux sommets. Cette formation vous apprend à exploiter l'IA pour créer des argumentaires commerciaux gagnants, qui identifient les points de douleur de vos clients et présentent vos solutions de manière claire et persuasive. Découvrez des techniques pour optimiser le ciblage de vos messages et booster votre taux de conversion grâce à des emails et des discours commerciaux à fort impact. - à partir de 100 €/ la masterclass d'une heure</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Rétention</h4>
                                    <h4 class="subheading">Création des pages professionnelles sur vos réseaux sociaux</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A la différence d'une page personnelle, si vous souhaitez promouvoir votre entreprise ou votre activité professionnelle, une page professionnelle est indispensable. Elle vous permettra de toucher une audience plus large, de diffuser des messages ciblés et de mesurer l'impact de vos actions marketing. - 100€/ réseau social</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/OIG1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Revenu</h4>
                                    <h4 class="subheading">Paiements sécurisés en ligne</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vendez partout où se trouvent vos clients : Débloquez une croissance explosive avec notre plateforme partenaire WELTARE. Touchez des clients à l'international, gérez tout depuis un seul endroit. - A partir de 249€/ mois</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Solution
                                    <br>Clé en
                                    <br>main !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
